[Desktop Entry]
Name=rofi qalculator
Type=Application
{# interesting, this exec command fails from rofi when surrounded by any kind of quotes #}
{# but leaving it without quotes causes validation to fail #}
Exec=/usr/local/bin/rofi -show calc -modi calc -theme gruvbox-dark-soft -no-show-match -no-sort > /dev/null
Comment=
Categories=Office;
Keywords=calculator;rofi;qalculator;kalkylator;
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
